.chatbot-app {
    --main-color-type-1: #6B53E6;
    --main-color-type-2: #615E73;
    --main-color-type-3: #B6C4D9;
    --main-color-type-4: #DECFBA;
    --main-color-type-5: #A66435;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: whitesmoke;
}

.chatbot-app .chatbot-header {
    display: flex;
    align-items: center;

    min-height: 100px;

    background-color: var(--main-color-type-2);

    color: whitesmoke;
}

.chatbot-app .name {
    margin: 0 50px;
    font-size: 1.75rem;
}

/** 채팅 다이얼로그 **/
.chatbot-app .chatbot-dialog {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chatbot-app .chatbot-dialog .dialog-list {
    height: fit-content;
}

.chatbot-app .dialog-element {
    width: 100%;
    height: calc(1.56rem + 36px);
    margin: 25px 0;
    box-sizing: border-box;

    font-size: 1.2rem;
}

.chatbot-app .dialog-element .user-0 {
    width: fit-content;
    padding: 18px;
    margin: 10px 2%;
    
    border-radius: 9px;
    background-color: var(--main-color-type-3);

    float: right;
    text-align: left;
}

.chatbot-app .dialog-element .user-1 {
    width: fit-content;
    padding: 18px;
    margin: 10px 2%;

    border-radius: 9px;
    background-color: var(--main-color-type-4);
    
    float: left;
    text-align: left;
}

/** 채팅 입력창 **/
.chatbot-app .chatbot-input {
    border-top: 1px solid lightgray;
    display: flex;
}

.chatbot-app .chatbot-input input {
    flex-grow: 1;
    border-style: none;
    background-color: whitesmoke;
    margin: 10px 10px 10px 20px;
}

.chatbot-app .chatbot-input input:focus {
    outline: none;
}

.chatbot-app .button-container {
    padding: 10px;
}
