.chatbot-app {
    --chatbot-main-color: #170080;
    --chatbot-sub-color-1: #6D4DFF;
    --chatbot-sub-color-2: #372680;
    --chatbot-sub-color-3: #2500CC;
    --chatbot-sub-color-4: #2F00FF;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: whitesmoke;
}

.chatbot-app .chatbot-header {
    display: flex;
    align-items: center;

    height: 10%;
    min-height: 80px;

    background-color: var(--chatbot-main-color);

    color: whitesmoke;
}

.chatbot-app .name {
    margin: 0 50px;
    font-size: 1.75rem;
}

/** 채팅 다이얼로그 **/
.chatbot-app .chatbot-dialog {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
}

.chatbot-app .chatbot-dialog .dialog-list {
    height: fit-content;
}

.chatbot-app .dialog-element {
    width: 100%;
    height: calc(1.56rem + 36px);
    margin: 25px 0;
    box-sizing: border-box;

    font-size: 1.2rem;
}

.chatbot-app .dialog-element .user-0 {
    width: fit-content;
    height: 1.56rem;
    padding: 18px;
    margin: 0 2%;
    background-color: lightblue;
    float: right;
}

.chatbot-app .dialog-element .user-1 {
    width: fit-content;
    height: 1.56rem;
    padding: 18px;
    margin: 0 2%;
    background-color: lightcoral;
    float: left;
}

/** 채팅 입력창 **/
.chatbot-app .chatbot-input {
    border-top: 1px solid lightgray;
    display: flex;
}

.chatbot-app .chatbot-input input {
    flex-grow: 1;
    border-style: none;
    background-color: whitesmoke;
    margin: 10px 10px 10px 20px;
}

.chatbot-app .chatbot-input input:focus {
    outline: none;
}

.chatbot-app .button-container {
    padding: 10px;
}
