:root {
  --main-color-type-1: #7163BF;
  --main-color-type-2: #615E73;
  --main-color-type-3: #5B8BD9;
  --main-color-type-4: #DEBE94;
  --main-color-type-5: #A66435;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: lightgray;
}
