.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title {
  width: 100%;
  height: 12vh;
  padding: 0 3vw;

  background-color: lightslategray;

  display: flex;
  align-items: center;
  box-sizing: border-box;

  color: whitesmoke;
  font-weight: bold;
}

.app-content {
  display: flex;
}

.main-content {
  width: 50%;
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-introduction {
  width: 40%;
  padding: 5vh 5%;
}

.chatbot-container {
  position: relative;

  width: 480px;
  height: 640px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 960px) {
  .app-content {
    flex-direction: column;
    align-items: center;
  }
  
  .site-introduction {
    width: 80%;
    padding: 3vh 10%;
  }

  .main-content {
    width: 100%;
    height: unset;
  }

  .chatbot-container {
    height: 100vh;
  }
}