<!DOCTYPE html>
<html>

<head>
    <title>Error <%= code %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <h1>Error <%= code %></h1>
            <p><%= message %></p>
        </div>
    </div>
</body>

</html>